<h1 class="text-center">Editing User</h1>

<%= render 'form', button_name: 'Update Details' %>

<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
