<h1 class="text-center"><%= @user.email %></h1>

<% if @lists.count > 0 %>
<ul class="user-lists">
	<% @lists.each do |list| %>
		<h4><%= link_to list.name, list %></h4>
	<% end %>
</ul>
<% else %>
	<h4 class="text-center user-lists">Sorry, no lists to display!</h4>
<% end %>
